In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

def prettyTable(df, col):
    a = df[col].value_counts(dropna = False)
    b = df[col].value_counts(normalize = True, dropna = False)
    c = pd.concat([a, b], axis = 1)
    c.columns = [col + '_count', col + '_ratio']
    return c

### Reading Data

In [2]:
df = pd.read_csv('loan.csv')
df

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260664,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260665,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260666,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260667,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(2260668, 145)

### Dropping Nulls

In [4]:
cols_to_drop = pd.DataFrame((df.isna().sum() / len(df)) > .14, columns = ['keep_false'])
cols_to_keep = list(cols_to_drop.loc[cols_to_drop['keep_false'] == False, :].index)
cols_to_drop = list(cols_to_drop.loc[cols_to_drop['keep_false'] == True, :].index)
print(len(cols_to_keep))
print(len(cols_to_drop))

87
58

In [5]:
# (df[cols_to_drop].isna().sum() / len(df))

In [6]:
df = df[cols_to_keep]
df.shape

(2260668, 87)

In [34]:
# sorted(df.isna().sum() / len(df), reverse = True)
# pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
cols_to_typeCheck = list(pd.DataFrame((df.isna().sum() / len(df))).index)
# cols_to_typeCheck
df[cols_to_typeCheck]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag,current_d,months_since_issue
0,2500,2500,2500.0,36,13.56,84.92,C,C1,10,RENT,55000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,Apr-2001,1.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.020000,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Feb-2019,0.0,1,Individual,0.0,0.0,16901.0,42000.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,2.0,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N,2024-05-01,66.0
1,30000,30000,30000.0,60,18.94,777.23,D,D2,10,MORTGAGE,90000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.0,Jun-1987,0.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.110000,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Feb-2019,0.0,1,Individual,0.0,1208.0,321915.0,50800.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,4.0,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N,2024-05-01,66.0
2,5000,5000,5000.0,36,17.97,180.69,D,D1,6,MORTGAGE,59280.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.890000,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Feb-2019,0.0,1,Individual,0.0,0.0,110299.0,24100.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,14.0,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N,2024-05-01,66.0
3,4000,4000,4000.0,36,18.94,146.51,D,D2,10,MORTGAGE,92000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.0,Feb-2006,0.0,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.710000,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Feb-2019,0.0,1,Individual,0.0,686.0,305049.0,7000.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,5.0,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N,2024-05-01,66.0
4,30000,30000,30000.0,60,16.14,731.78,C,C4,10,MORTGAGE,57250.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.0,Dec-2000,0.0,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.210000,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Feb-2019,0.0,1,Individual,0.0,0.0,116007.0,23100.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,13.0,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N,2024-05-01,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260658,15000,15000,15000.0,60,16.02,364.94,C,C5,1,RENT,85000.0,Verified,2017-10-01,Fully Paid,n,debt_consolidation,Debt consolidation,119xx,NY,14.66,0.0,Mar-2001,3.0,19.0,0.0,6988,24.8,87.0,w,0.00,0.00,16112.317714,16112.32,15000.00,1112.32,0.0,0.0,0.0,Mar-2018,14613.69,Feb-2019,0.0,1,Individual,0.0,4199.0,239081.0,28200.0,17.0,17077.0,17477.0,23.7,0.0,0.0,191.0,198.0,0.0,0.0,1.0,2.0,0.0,7.0,4.0,6.0,8.0,17.0,55.0,13.0,31.0,6.0,19.0,0.0,0.0,0.0,7.0,89.0,0.0,0.0,0.0,267274.0,239081.0,22900.0,239074.0,N,Cash,N,2024-05-01,80.0
2260662,30000,30000,30000.0,60,30.75,984.47,F,F5,6,MORTGAGE,100000.0,Verified,2017-10-01,Current,n,debt_consolidation,Debt consolidation,338xx,FL,22.13,0.0,Aug-1996,2.0,9.0,0.0,19206,66.9,14.0,f,25798.78,25798.78,15623.400000,15623.40,4201.22,11422.18,0.0,0.0,0.0,Feb-2019,984.47,Feb-2019,0.0,1,Individual,0.0,776.0,174805.0,28700.0,7.0,19423.0,6942.0,57.9,0.0,0.0,37.0,253.0,6.0,3.0,2.0,26.0,4.0,0.0,1.0,2.0,2.0,4.0,4.0,5.0,8.0,2.0,9.0,0.0,0.0,0.0,3.0,100.0,50.0,0.0,0.0,201286.0,68680.0,16500.0,64086.0,N,Cash,N,2024-05-01,80.0
2260663,12000,12000,12000.0,60,14.08,279.72,C,C3,10,MORTGAGE,58000.0,Not Verified,2017-10-01,Current,n,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96,3312.80,2048.16,0.0,0.0,0.0,Feb-2019,279.72,Feb-2019,0.0,1,Individual,0.0,7921.0,45212.0,24500.0,5.0,4110.0,1807.0,70.9,0.0,0.0,157.0,164.0,1.0,1.0,2.0,9.0,9.0,0.0,2.0,4.0,3.0,9.0,11.0,10.0,21.0,4.0,12.0,0.0,0.0,0.0,3.0,100.0,66.7,0.0,0.0,73948.0,45212.0,6200.0,49448.0,N,Cash,N,2024-05-01,80.0
2260664,12000,12000,12000.0,60,25.82,358.01,E,E4,1,MORTGAGE,30000.0,Not Verified,2017-10-01,Fully Paid,n,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80,12000.00,2499.80,0.0,0.0,0.0,Aug-2018,182.74,Sep-2017,0.0,1,Joint App,0.0,550.0,346404.0,17300.0,4.0,34640.0,9162.0,19.6,0.0,0.0,163.0,174.0,16.0,8.0,4.0,141.0,0.0,2.0,1.0,4.0,2.0,5.0,4.0,7.0,18.0,4.0,10.0,0.0,0.0,0.0,1.0,76.9,50.0,0.0,0.0,382275.0,12928.0,11400.0,12125.0,N,Cash,N,2024-05-01,80.0
2260665,10000,10000,10000.0,36,11.99,332.10,B,B5,10,OWN,64000.0,Source Verified,2017-10-01,Current,n,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94,4006.73,1300.21,0.0,0.0,0.0,Feb-2019,332.10,Feb-2019,1.0,1,Individual,0.0,77.0,189735.0,10000.0,3.0,31623.0,136.0,93.2,0.0,0.0,134.0,271.0,15.0,3.0,3.0,111.0,3.0,0.0,1.0,3.0,1.0,2.0,4.0,3.0,6.0,3.0,6.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,203417.0,36448.0,2000.0,29317.0,N,Cash,N,2024-05-01,80.0

In [8]:
# for i in cols_to_typeCheck:
#     print(df[i].dtype)

# df[cols_to_typeCheck]

In [9]:
# checking_rows = pd.DataFrame(df.notnull().all(axis=1), columns = ['all_not_null'])
# checking_rows.loc[checking_rows['all_not_null'] == False]

In [10]:
check_rows = pd.DataFrame(df.isnull().all(1), columns = ['null_rows'])
check_rows[check_rows['null_rows'] == True]

Empty DataFrame
Columns: [null_rows]
Index: []

In [11]:
# idx = df.index[df.isnull().all(1)]
# nans = df.iloc[idx, :]
# nans
# len(idx)

In [12]:
len(df)

2260668

In [13]:
len(df.dropna(axis = 0, how = 'all'))
len(df.dropna())
df_original = df.copy(deep = True)
df = df_original.dropna()

In [14]:
display(df_original.shape)
display(df.shape)

(2260668, 87)

(1652451, 87)

In [15]:
df_original.loan_status.isna().sum()

0

In [16]:
df_sample = df.sample(500000, random_state = 101)

In [17]:
df_sample.shape

(500000, 87)

In [18]:
# df_original.isna().sum()

In [19]:
# will come back to nulls to handle imputing with mean values

### Cleaning and Converting the Data

In [20]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N

In [21]:
# display(len(df.emp_title.unique()))
# display(len(df.home_ownership.unique()))
# display(len(df.verification_status.unique()))
# display(len(df.title.unique()))
# display(len(df.initial_list_status.unique()))
# display(len(df.policy_code.unique()))
# display(len(df.application_type.unique()))
# display(len(df.hardship_flag.unique()))
# display(len(df.disbursement_method.unique()))
# display(len(df.debt_settlement_flag.unique()))

In [22]:
# term - drop 'months' and convert to int
# emp_title - drop column
# emp_length = remove + years and convert to int
# issue_d - convert to date
    # then create new columns with months since date
    
# title = dropm column
# zip_code = drop column

# earliest_cr_line - convert to date
    # then create new columns with months since date
# last_pymnt_d - convert to date
    # then create new columns with months since date
# last_credit_pull_d - convert to date
    # then create new columns with months since date
    
# loan status - fully paid + current vs the remaining categories

In [23]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N

In [24]:
prettyTable(df, 'term')
df['term'] = df['term'].replace({' months':''}, regex = True)
prettyTable(df, 'term')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     term_count  term_ratio
 36     1154345    0.698565
 60      498106    0.301435

In [30]:
df.term = df.term.astype(int)

In [25]:
# display(len(df.emp_title.unique()))
df = df.drop('emp_title', axis = 1)

In [26]:
# display(prettyTable(df, 'emp_length'))

# rounding <1 year to 1 year
df['emp_length'] = df['emp_length'].map(lambda x: x.lstrip('<').rstrip('+ years'))

prettyTable(df, 'emp_length')

    emp_length_count  emp_length_ratio
10            590896          0.357588
2             160752          0.097281
3             142291          0.086109
 1            138202          0.083635
1             115287          0.069767
5             108813          0.065849
4             106950          0.064722
6              80470          0.048697
7              73222          0.044311
8              72765          0.044035
9              62803          0.038006

In [32]:
df.emp_length = df.emp_length.astype(int)

In [27]:
# converting dates and finding time since issue in months
df['issue_d'] = pd.to_datetime(df['issue_d'], format = '%b-%Y')

df['current_d'] = 'May-2024'
df['current_d'] = pd.to_datetime(df['current_d'])


df['months_since_issue'] = (df.current_d-df.issue_d).astype('timedelta64[M]') + 2

In [36]:
# drop title
df = df.drop('term', axis = 1)

In [37]:
# drop zip code
df = df.drop('zip_code', axis = 1)

In [38]:
# converting dates and finding time since issue in months
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format = '%b-%Y')

df['months_since_earliest_cr_line'] = (df.current_d-df.earliest_cr_line).astype('timedelta64[M]') + 2



df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format = '%b-%Y')

df['months_since_last_pymnt_d'] = (df.current_d-df.last_pymnt_d).astype('timedelta64[M]') + 2



df['last_credit_pull_d'] = pd.to_datetime(df['last_credit_pull_d'], format = '%b-%Y')

df['months_since_last_pymnt_d'] = (df.current_d-df.last_credit_pull_d).astype('timedelta64[M]') + 2

In [39]:
# drop issue_d
# drop earliest_cr_line
# drop last_pymnt_d
# drop last_credit_pull_d

drops = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

df = df.drop(drops, axis = 1)

In [63]:
# loan status - fully paid + current vs the remaining categories
prettyTable(df, 'loan_status')

                    loan_status_count  loan_status_ratio
Fully Paid                     764818           0.462839
Current                        671801           0.406548
Charged Off                    190439           0.115246
Late (31-120 days)              15965           0.009661
In Grace Period                  6768           0.004096
Late (16-30 days)                2635           0.001595
Default                            25           0.000015

In [64]:
good = ['Fully Paid', 'Current']
bad = [list(prettyTable(df, 'loan_status')[2:].index)]

In [65]:
loan_outcomes = np.where(df['loan_status'].isin(good), 1, 0)
display(loan_outcomes)

unique, counts = np.unique(loan_outcomes, return_counts=True)
display(dict(zip(unique, counts)))

display(prettyTable(df, 'loan_status')[:2]['loan_status_count'].sum())
display(prettyTable(df, 'loan_status')[2:]['loan_status_count'].sum())

array([1, 1, 1, ..., 1, 1, 1])

{0: 215832, 1: 1436619}

1436619

215832

In [66]:
df['loan_outcomes'] = loan_outcomes
prettyTable(df, 'loan_outcomes')

   loan_outcomes_count  loan_outcomes_ratio
1              1436619             0.869387
0               215832             0.130613

In [67]:
# drop current_d
df = df.drop('current_d', axis = 1)

In [69]:
df.shape

(1652451, 84)

### EDA and Visuals

In [70]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,title,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag,months_since_issue,months_since_earliest_cr_line,months_since_last_pymnt_d,loan_outcomes
0,2500,2500,2500.0,13.56,84.92,C,C1,10,RENT,55000.0,Not Verified,Current,n,debt_consolidation,Debt consolidation,NY,18.24,0.0,1.0,9.0,1.0,4341,10.3,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,84.92,0.0,1,Individual,0.0,0.0,16901.0,42000.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,2.0,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N,66.0,278.0,64.0,1
1,30000,30000,30000.0,18.94,777.23,D,D2,10,MORTGAGE,90000.0,Source Verified,Current,n,debt_consolidation,Debt consolidation,LA,26.52,0.0,0.0,13.0,1.0,12315,24.2,44.0,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,777.23,0.0,1,Individual,0.0,1208.0,321915.0,50800.0,10.0,24763.0,13761.0,8.3,0.0,0.0,163.0,378.0,4.0,3.0,3.0,4.0,4.0,0.0,2.0,4.0,4.0,9.0,27.0,8.0,14.0,4.0,13.0,0.0,0.0,0.0,6.0,95.0,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N,66.0,445.0,64.0,1
2,5000,5000,5000.0,17.97,180.69,D,D1,6,MORTGAGE,59280.0,Source Verified,Current,n,debt_consolidation,Debt consolidation,MI,10.51,0.0,0.0,8.0,0.0,4599,19.1,13.0,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,180.69,0.0,1,Individual,0.0,0.0,110299.0,24100.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,14.0,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N,66.0,159.0,64.0,1
3,4000,4000,4000.0,18.94,146.51,D,D2,10,MORTGAGE,92000.0,Source Verified,Current,n,debt_consolidation,Debt consolidation,WA,16.74,0.0,0.0,10.0,0.0,5468,78.1,13.0,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,146.51,0.0,1,Individual,0.0,686.0,305049.0,7000.0,5.0,30505.0,1239.0,75.2,0.0,0.0,62.0,154.0,64.0,5.0,3.0,64.0,5.0,0.0,1.0,2.0,1.0,2.0,7.0,2.0,3.0,2.0,10.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N,66.0,220.0,64.0,1
4,30000,30000,30000.0,16.14,731.78,C,C4,10,MORTGAGE,57250.0,Not Verified,Current,n,debt_consolidation,Debt consolidation,MD,26.35,0.0,0.0,12.0,0.0,829,3.6,26.0,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,731.78,0.0,1,Individual,0.0,0.0,116007.0,23100.0,9.0,9667.0,8471.0,8.9,0.0,0.0,53.0,216.0,2.0,2.0,2.0,2.0,13.0,0.0,2.0,2.0,3.0,8.0,9.0,6.0,15.0,2.0,12.0,0.0,0.0,0.0,5.0,92.3,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N,66.0,282.0,64.0,1

In [ ]:
# loan info to look at
loan_amnt, funded_amnt, int_rate, installment, grade, sub_grade, loan_status, loan_outcomes,  total_pyment, 
total_rec_prncp, total_rec_int, months_since_issue, months_since_last_pymnt_d

# borrower info to look at
emp_length, home_ownership, annual_inc, dti, revol_bal, revol_util, total_cur_bal, avg_cur_bal, mo_sin_old_il_acct, tot_hi_cred_lim, 
total_bal_ex_mort, total_il_high_credit_limit, months_since_earliest_cr_line, verification_status